<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.investmentideas">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity android:name=".RegisterActivity">

        </activity>

        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".TopStockActivity">

        </activity>
        <activity android:name=".ExploreAcitivty">

        </activity>

        <activity android:name=".sector.HealthCareSector"/>
        <activity android:name=".sector.Technology"/>
        <activity android:name=".sector.RealEstate" />
        <activity android:name=".sector.FinancialServices" />
        <activity android:name=".sector.ConsumerCyclical" />
        <activity android:name=".sector.BasicMaterials" />
        <activity android:name=".sector.Utilities" />
        <activity android:name=".sector.CommunicationServices" />
        <activity android:name=".sector.Industrials" />
        <activity android:name=".sector.ConsumerDefensive" />
        <activity android:name=".sector.Energy" />

    </application>

</manifest>